.container-1{
    background-color: #9370DB;
    width: 500px;
    height: 500px;
}

.block-1{
    margin: auto;
    background-color: #F0E68C;
    width: 200px;
    height: 200px;
}
.img-horizon{
    display: block;
    margin: 5px auto;
    width: 200px;
    height: 200px;
}
.container-2{
    background-color: #9370DB;
    width: 500px;
    height: 500px;
    display: grid;
}

.block-2{
    margin: auto;
    background-color: #F0E68C;
    width: 200px;
    height: 200px;
}
.container-3{
    background-color: #9370DB;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block-3{
    width: 200px;
    height: 200px;
    background-color: #F0E68C;
    margin: 3px;
}
.container-4{
    background-color: #9370DB;
    width: 500px;
    height: 500px;
    position: relative;
}
.container-4 :nth-child(1){
    border: 3px solid red;
    top: 30px;
    left: 30px;
}

.container-4 :nth-child(2){
    border: 3px solid rgb(102, 0, 255);
    top: 150px;
    left: 150px;
}
.container-4 :nth-child(3){
    border: 3px solid rgb(0, 255, 30);
    top: 270px;
    left: 270px;
}
.block-4{
    width: 200px;
    height: 200px;
    position: absolute;
}
body{
    position: relative;
}
.img-fixed{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
}